<% if user_signed_in? %>
  <div class="panel-body">
    <%= form_for(Comment.new, html: {class:"form-horizontal"}) do |f| %>
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.text_area :content,class:"form-control",placeholder:"Post a comment"  %>
            </div>     
        </div>
        <% if @comment %>
        <%= f.hidden_field :comment_id,:value => @comment.id  %>
        <% @comment=nil %>
        <% elsif @pin %>
        
        <%= f.hidden_field :pin_id,:value => @pin.id %>
        <% @pin=nil %>
         <% end %>   
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.submit 'Post Comment', class:"btn btn-primary" %>
          </div>
        </div>
     <% end %>
  </div>
<% end %>